/*ie8 test*/

/*header*/
header nav ul li.tumblr {position:fixed; right:11px; top:60px; border-right:none; box-shadow:1px 1px 5px -3px #000 inset;}
header nav ul li.tumblr > a {background:url("https://secure.assets.tumblr.com/images/iframe_logo.png") no-repeat scroll 10px center; width:100px; height:34px; padding:0; text-indent:-999em;}
header nav ul li.tumblr > a:after {text-indent:0; content:"\f067"; padding-left:5px; font-family:FontAwesome; color:#fff; text-shadow:0 0 7px #fff; position:absolute; right:10px; top:8px;}
