@charset "utf-8";
* { -moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
	font-family:roboto; font-size:14px; color:#333; font-weight:normal; font-style:normal; line-height:1.5; text-align:left; margin:0; padding:0; border:none; outline:none; text-decoration:none; list-style:none;}

::selection {background: #E24F4F; color: #FFFFFF; text-shadow: 0 1px 3px #000000;}
::-moz-selection {background: #E24F4F; color: #FFFFFF; text-shadow: 0 1px 3px #000000;}

body {background:#fff;}
body.homePage, body.normalPage {background:url(//kerimx.net/kerimx.tumblr.com/images/bg.jpg) no-repeat fixed center bottom #fff;}

.clearfix:after {content:" "; display:block; clear:both; visibility:hidden; height:0; line-height:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display:block;}
a:hover {text-decoration:underline;}
b, strong {font-weight:500;}
img {max-width:100%;}
a > img {display:table;}
a > img, .photoset figure > a {}
a > img:hover, .photoset figure > a:hover {}
iframe {width:100%;}
hr {border:1px solid #ccc; margin:10px 0; border-radius:100%;}
p {margin:7px 0;}
.left {float:left;}
.right {float:right;}
.noPc {display:none !important;}
.hidden {display:none !important;}
.mt10 {margin-top:10px;} .mr10 {margin-right:10px;} .mb10 {margin-bottom:10px;} .ml10 {margin-left:10px;}

/*animate*/
.animate350, header nav ul li a, a.url, article > .box, nav.paging ul.p1 > li > a {-webkit-transition: all 350ms ease; transition: all 350ms ease;}


.container {width:100%;}
.maxW {width:96%; max-width:1078px; margin:0 auto;}

article h4, article h4 > * {font-size:22px; font-weight:500;}
article h4 > a, article p a {text-decoration:underline;}
article p, article p *, article cite, article ul li, article ul li * {font-size:18px;}
figure figcaption {margin-top:10px;}
blockquote {border-left:3px solid; padding:0 10px;}
blockquote footer {text-align:right;}
blockquote cite, blockquote cite * {font-style:italic;}
blockquote cite:before {content:"\f10d"; padding-right:5px; font-family:FontAwesome;}
blockquote cite:after {content:"\f10e"; padding-left:5px; font-family:FontAwesome;}

/*moduls*/
.box {position:relative; padding:13px; background:rgba(255,255,255,.7); border-width:1px 1px 5px 1px; border-style:solid; border-color:#ccc #ccc #bdbdbd; border-radius:2px;}
/*liste1 menü*/
ul.l1 li a {font-size:16px;}
ul.l1 li a:before {content:"\f0da"; font-family:FontAwesome; color:#bdbdbd; display:inline-block; vertical-align:middle; margin-right:7px;}
ul.l1 li a:hover, ul.l1 li a:hover:before {color:#E24F4F;}

/*post*/
.posts {width:98%; max-width:1100px;}
.posts > article {display:inline-block; vertical-align:top; margin-top:15px; margin-bottom:15px; overflow:hidden;}
.posts > article, .grid-sizer {width:48%; margin-right:1%; margin-left:1%;}
.posts > article > .box {padding-bottom:50px;}
.posts > article > .box > a.url {display:block; background:#a6a6a6; white-space:nowrap; padding:7px 40px 7px 10px; font-size:13px; color:#fff; line-height:1; position:absolute; right:0; bottom:7px;}
.posts > article > .box > .tags {display:none;}
/*post hover*/
.posts > article:hover > .box {border-color:#E24F4F;}
.posts > article:hover > .box > a.url {background:#E24F4F;}
.posts > article > .box > a.url:after {content:"\f0c1"; font-family:FontAwesome; position:absolute; right:15px; color:#fefefe;}
.posts > article:hover > .box > a.url:after {color:#fff;}
/*post detay .postPage*/
.postPage .posts > article {width:100%; max-width:528px; left:50% !important; margin-left:-264px;}
.postPage .posts > article > .box {border-color:#E24F4F;}
.postPage .posts > article > .box > a.url {background:#E24F4F;}
/*soru sayfası .askPage*/
.askPage .posts > article {}
/*sayfa icindeki post değilse .k*/
.posts > article.k {width:100%; margin-left:0; margin-right:0;}
.posts > article.k > .box {border-color:#E24F4F;}
.posts > article.k > .box a.url {display:none;}

/*post type cfg*/
/*video*/
.video .tumblr_video_container {width:auto !important; height:auto !important;}
/*chat*/
.chat ul li b {color:#999; text-decoration:underline; font-weight:normal;}
/*photoset*/
.photoset > .box > figure {margin-top:-2%;}
.photoset > .box > figure > a {display:inline-block; width:49%; margin-top:2%; vertical-align:top; position:relative; height:200px; background-size:cover; background-position:center center; background-repeat:no-repeat;}
.photoset > .box > figure > a:nth-child(even) {margin-left:2%;}
.photoset > .box > figure > a > b {font-size:16px; color:#fff; font-weight:normal; line-height:1.2; text-shadow:1px 1px 1px #000; width:100%; padding:7px; position:absolute; left:0; bottom:0; background-color:rgba(0,0,0,.7); overflow:hidden; max-height:100%; border-top:1px dotted #e24f4f;}
.photoset > .box > figure > a > b * {color:#fff;}
.photoset > .box > figure > a:hover > b {height:0; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}

/*sayfalar*/
.pageMenu {margin-top:30px;}
.pageMenu ul.l1 li a  {line-height:2;}

/*sayfalama*/
nav.paging {margin:30px 0;}
nav.paging ul.p1 {width:100%; display:table; table-layout:fixed; border:1px solid #ccc; background:rgba(255,255,255,.7);}
nav.paging ul.p1 > li {display:table-cell; vertical-align:middle; text-align:center;}
nav.paging ul.p1 > li.pageInfo {position:relative; font-size:1em; color:#666; font-weight:500; letter-spacing:1px; margin-right:-1px; background:#f1f1f1;}
nav.paging ul.p1 > li.pageInfo > i {position:absolute; right:10px; font-size:20px; color:#666; cursor:pointer;}
nav.paging ul.p1 > li > a {display:block; line-height:1; padding:10px; text-align:center; box-shadow:0px -10px 20px #eee inset;}
nav.paging ul.p1 > li.prev a {border-right:5px solid #bdbdbd;}
nav.paging ul.p1 > li.next a {border-left:5px solid #bdbdbd;}
nav.paging ul.p1 > li > a > i {font-size:20px; color:#999; text-shadow:0 1px 1px #333;}
nav.paging ul.p1 > li > a:hover, nav.paging ul.p1 > li > a:hover > i {color:#E24F4F; border-color:#E24F4F;}
nav.paging ul.p1 > li > a:hover {box-shadow:0px 10px 20px #eee inset;}

/*footer*/
footer {clear:both; visibility:hidden;}

/*header*/
header {padding-top:60px;}
header nav {width: auto; background:#E24F4F; position:fixed; left:0; top:0; box-shadow:0 1px 4px -2px #000; z-index:30;}
header nav > a, header nav > h1 {display:inline-block; vertical-align:middle; margin-left:-4px;}
header nav > a, header nav > h1 > a {padding: 12px 16px;}
header nav > a.siteMenu {background:#555;}
header nav > a > i.fa {font-size:28px; color:#fff;}
header nav > a.siteMenu > i.fa {width:24px; text-align:center;}
header nav > h1 > a {display:block; font-size:20px; color:#fff; font-weight:500; text-decoration:none !important;}
header nav > a.aboutMe {position:relative;}
header nav > a.aboutMe:before {content:""; position:absolute; left:0; top:15%; height:70%; border-left:1px dashed #fff;}
header nav > a.aboutMe i.fa {transform:rotate(17deg);}
/*header menu*/
header nav .sub {display:none;}
header nav ul.m1 {}
header nav ul li {display:block;}
header nav ul li a {display:block; padding:10px 15px; font-size:16px; color:#fff; text-decoration:none !important; line-height:1.5; text-shadow:0 0 0 #000;}
header nav ul li a:hover {background:#555; text-shadow:1px 1px 17px #fff;}
header nav ul li a > i.fa {color:inherit; line-height:inherit; width:18px; text-align:center; margin-right:10px;}

.menuOpened header nav {position:absolute;}
.menuOpened header nav .sub {display:block;}
.menuOpened header nav .sub {}
.menuOpened header nav > a.siteMenu > i.fa:before {content:"\f00d";}

/*fadeIn >> dis:none; opa:0; -webkit-animation:fadeIn 5s; animation:fadeIn 5s;*/
@-webkit-keyframes fadeIn {0% {display:block;} 1% {opacity:0;}	100% {opacity:1;}}
@keyframes fadeIn {0% {display:block;} 1% {opacity:0;} 100% {opacity:1;}}

.asd {-webkit-animation:fadeIn 350ms forwards; animation:fadeIn 350ms forwards;}

/*profil*/
.aboutMePage {display:none;}
.aboutMePage > .left {width:370px;}
.aboutMePage .imgProfile {display:block;}
.aboutMePage > .contentA {margin-left:370px; padding:30px;}
.aboutMePage > .contentA * {font-size:18px;}
.aboutMePage .socialHolder {}
.aboutMePage .socialHolder > p:first-child {margin-bottom:20px;}
.aboutMePage .socialHolder b {display:block; margin-bottom:3px;}
.aboutMePage .socialHolder a {display:inline-block; border:1px solid #eee; border-radius:3px;}
.aboutMePage .socialHolder a i {width:20px; text-align:center; margin:10px;}
.aboutMePage .socialHolder a:hover {background:#eee;}

/*nivo lightbox*/
.nivo-lightbox-overlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 100%; overflow: hidden; visibility: hidden; opacity: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: rgba(0, 0, 0, 0.7); }
.nivo-lightbox-loading { background: url(//kerimx.net/kerimx.tumblr.com/images/loading.gif) no-repeat 50% 50%; }
.nivo-lightbox-overlay.nivo-lightbox-open { visibility: visible; opacity: 1; }
.nivo-lightbox-wrap { position: absolute; top: 3%; bottom: 3%; left: 3%; right: 3%; }
.nivo-lightbox-content { width: 100%; height: 100%; }
.nivo-lightbox-title-wrap { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 99999; text-align: center; }
.nivo-lightbox-prev { position: absolute; top: 50%; left: -2px; }
.nivo-lightbox-next { position: absolute; top: 50%; right: -2px; }
.nivo-lightbox-close { position: absolute; top: 3%; right: 3%; background: #e24f4f; padding: 5px 7px; border-radius: 5px;}
.nivo-lightbox-nav { display: none; background: #e24f4f; width: 40px; height: 70%; top: 15%; border-radius: 3px; }
.nivo-lightbox-image { text-align: center; }
.nivo-lightbox-image img { max-width: 100%; max-height: 100%; width: auto; height: auto; vertical-align: middle; box-shadow: 0 0 50px #000; }
.nivo-lightbox-content iframe { width: 100%; height: 100%; }
.nivo-lightbox-inline, .nivo-lightbox-ajax { max-height: 100%; overflow: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;/* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}
.nivo-lightbox-error { display: table; text-align: center; width: 100%; height: 100%; color: #fff; text-shadow: 0 1px 1px #000; }
.nivo-lightbox-error p { display: table-cell; vertical-align: middle; text-align: center; font-size: 3em; background: #fff; border: 50px solid #000; }
/* Effects **********************************************/
.nivo-lightbox-notouch .nivo-lightbox-effect-fade, .nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale, .nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft, .nivo-lightbox-notouch .nivo-lightbox-effect-slideRight, .nivo-lightbox-notouch .nivo-lightbox-effect-slideUp, .nivo-lightbox-notouch .nivo-lightbox-effect-slideDown, .nivo-lightbox-notouch .nivo-lightbox-effect-fall { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
/* fadeScale */
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
/* slideLeft / slideRight / slideUp / slideDown */
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap, .nivo-lightbox-effect-slideRight .nivo-lightbox-wrap, .nivo-lightbox-effect-slideUp .nivo-lightbox-wrap, .nivo-lightbox-effect-slideDown .nivo-lightbox-wrap { -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); }
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap { -webkit-transform: translateX(-10%); -moz-transform: translateX(-10%); -ms-transform: translateX(-10%); transform: translateX(-10%); }
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap { -webkit-transform: translateX(10%); -moz-transform: translateX(10%); -ms-transform: translateX(10%); transform: translateX(10%); }
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap, .nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap { -webkit-transform: translateY(-10%); -moz-transform: translateY(-10%); -ms-transform: translateY(-10%); transform: translateY(-10%); }
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap { -webkit-transform: translateY(10%); -moz-transform: translateY(10%); -ms-transform: translateY(10%); transform: translateY(10%); }
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap, .nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
/* fall */
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall { -webkit-perspective: 1000px; -moz-perspective: 1000px; perspective: 1000px; }
.nivo-lightbox-effect-fall .nivo-lightbox-wrap { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; -webkit-transform: translateZ(300px); -moz-transform: translateZ(300px); -ms-transform: translateZ(300px); transform: translateZ(300px); }
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap { -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); }

/*lightbox*/
.nivo-lightbox-open > a.nivo-lightbox-nav > i { font-size: 30px; color: #fff; position: absolute; top: 50%; margin-top: -15px; width: 100%; text-align: center; }
.nivo-lightbox-open > a.nivo-lightbox-nav:hover > i, .nivo-lightbox-open > a.nivo-lightbox-close:hover > i { text-shadow: 0 0 2px #fff; }
.nivo-lightbox-close > i { font-size: 30px; color: #fff; }

/*lightbox tema*/
.nivo-lightbox-theme-default .nivo-lightbox-ajax, .nivo-lightbox-theme-default .nivo-lightbox-inline {background:#fff; box-shadow:0 0 50px #000;}

@media screen and (min-width: 601px) {/*pc*/
.pc1 {}
}

@media screen and (max-width: 600px) {
.noPc {display:inline-block !important;}
body {background:#fff !important;}
.maxW {width:96%;}
.box {padding:10px;}

.posts {height:auto !important;}
.posts > article, .grid-sizer {display:block; position:static !important; width:100%; max-width:522px; margin-right:auto; margin-left:auto;}

/*menü 600px*/
header nav {width:100%;}
header nav > h1 > a {font-size:17px;}
header nav > a > i.fa {font-size:24px;}
header nav > a.aboutMe {float:right;}

/*profil 600px*/
.aboutMePage > .left {width:100%; float:none;}
.aboutMePage > .contentA {margin-left:0; padding:15px;}

/*post detay .postPage 600px*/
.postPage .posts > article {left:0 !important; margin-left:0;}
}

@media screen and (max-width: 480px) {
/*lightbox 480px*/
.nivo-lightbox-overlay .nivo-lightbox-wrap {top:0; right:1%; bottom:0; left:1%;}
.nivo-lightbox-overlay .nivo-lightbox-nav {width:50%; height:50px; top:auto; bottom:-2px;}
}

@media screen and (max-width: 310px) {
body * {display:none;}
body:before {content:"hesap makinesi detected !!!11"; font-family:arial; font-size:2em;}
}

/*sil*/
.video {display:none !important;}