* { -moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
	font-family:cuprum; font-size:14px; color:#333; font-weight:normal; font-style:normal; line-height:1.3; text-align:left; margin:0; padding:0; border:none; outline:none; text-decoration:none; list-style:none; transition:all 0.2s ease-in-out;}

::selection {background: #E24F4F; color: #FFFFFF; text-shadow: 0 1px 3px #000000;}
::-moz-selection {background: #E24F4F; color: #FFFFFF; text-shadow: 0 1px 3px #000000;}

body {background:url(//kerimx.github.io/kerimx.tumblr.com/images/bg.jpg) no-repeat fixed center top #fff;}

.clearfix:after {content:"."; display:block; clear:both; visibility:hidden; height:0; line-height:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display:block;}
a:hover {text-decoration:underline;}
b, strong {font-weight:bold;}
img {max-width:100%;}
a > img {display:table;}
a > img, .photoset figure > a {}
a > img:hover, .photoset figure > a:hover {}
iframe {width:100%;}
hr {border:1px solid #ccc; margin:10px 0; border-radius:100%;}
p {margin:7px 0;}
.left {float:left;}
.right {float:right;}
.noPc {display:none !important;}
.hidden {display:none !important;}
.mt10 {margin-top:10px;} .mr10 {margin-right:10px;} .mb10 {margin-bottom:10px;} .ml10 {margin-left:10px;}


.container {width:530px; margin:0 auto;}

article h4, article h4 > * {font-size:24px; text-shadow:0px 1px 1px #BDBDBD;}
article > h4 > a, article p a {text-decoration:underline;}
article p, article p *, article cite, article ul li, article ul li * {font-size:18px;}
figure figcaption {margin-top:10px;}
blockquote footer {text-align:right;}
blockquote cite, blockquote cite * {font-style:italic;}
blockquote cite:before {content:"\f10d"; padding-right:5px; font-family:FontAwesome;}
blockquote cite:after {content:"\f10e"; padding-left:5px; font-family:FontAwesome;}

/*moduls*/
.box {padding:15px; background:rgba(255,255,255,.7); border-width:1px 1px 5px 1px; border-style:solid; border-color:#ccc #ccc #bdbdbd; position:relative; border-radius:2px;}
/*liste1 menü*/
ul.l1 li a {font-size:16px;}
ul.l1 li a:before {content:"\f0da"; font-family:FontAwesome; color:#bdbdbd; display:inline-block; vertical-align:middle; margin-right:7px;}
ul.l1 li a:hover, ul.l1 li a:hover:before {color:#E24F4F;}

/*post*/
.posts {width:90%; margin:0 auto;}
.posts > article {width:50%; margin-top:30px; overflow:hidden; padding-bottom:50px;}
.posts > article:first-child {margin-top:0;}
.posts > article > a.url {display:block; background:#a6a6a6; white-space:nowrap; padding:7px 40px 7px 10px; font-family:arial; font-size:12px; color:#fff; line-height:1; position:absolute; right:0; bottom:7px;}
.posts > article > .tags {display:none;}
/*post hover*/
.posts > article:hover {border-color:#E24F4F;}
.posts > article:hover > a.url {background:#E24F4F;}
.posts > article > a.url:after {content:"\f0c1"; font-family:FontAwesome; position:absolute; right:15px; color:#fefefe;}
.posts > article:hover > a.url:after {color:#fff;}
/*post detay .postPage*/
.postPage .posts > article {border-color:#E24F4F;}
.postPage .posts > article > a.url {background:#E24F4F;}
/*post değilse .k*/
.posts > article.k a.url {display:none;}
.posts > article.k {padding-bottom:0;}
/*soru sayfası .askPage*/
.askPage .posts > article {border-color:#E24F4F;}

/*post type cfg*/
/*chat*/
.chat ul li b {color:#999; text-decoration:underline; font-weight:normal;}
/*photoset*/
.photoset > figure {margin-top:-2%;}
.photoset > figure > a {display:inline-block; width:49%; margin-top:2%; vertical-align:top; position:relative; height:200px; background-size:cover; background-position:center center; background-repeat:no-repeat;}
.photoset > figure > a:nth-child(even) {margin-left:2%;}
.photoset > figure > a > b {font-size:16px; color:#fff; font-weight:normal; line-height:1.2; text-shadow:1px 1px 1px #000; width:100%; padding:7px; position:absolute; left:0; bottom:0; background-color:rgba(0,0,0,.7); overflow:hidden; max-height:100%; border-top:1px dotted #e24f4f;}
.photoset > figure > a > b * {color:#fff;}
.photoset > figure > a:hover > b {height:0; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}

/*aside*/
.kx100 {float:right; width:342px;}
.kx100, .kx100 * {display:none !important;}

/*profil*/
.profile figure img {width:100%; box-shadow:0 2px 7px -2px #000;}
.profile figure figcaption p {font-size:16px;}

/*sayfalar*/
.pageMenu {margin-top:30px;}
.pageMenu ul.l1 li a  {line-height:2;}

/*footer*/
footer {clear:both; visibility:hidden;}

/*header*/
header {padding-top:60px;}
header nav {width:100%; background:#E24F4F; position:fixed; left:0; top:0; box-shadow:0 1px 4px -2px #000; z-index:30;}
header nav section {width:530px; margin:0 auto;}
header nav ul.m1 {float:left;}
header nav ul.social {float:right;}
header nav ul li {float:left; border-right:1px solid #f1f1f1; transition:background 0.2s ease-in-out;}
header nav ul li:first-child {border-left:1px solid #f1f1f1;}
header nav ul li a {display:block; padding:10px 20px; font-size:14px; color:#fff; text-decoration:none !important; line-height:1.5;}
header nav ul.social li a {text-shadow:0 0 10px #fff;}
header nav ul li:hover {background:#666; box-shadow:0 3px 5px -4px #000;}
header nav ul li.facebook {background:#4C66A4;}
header nav ul li.twitter {background:#55ACEE;}
header nav ul li.instagram {background: #ff364f;
background: -moz-linear-gradient(-45deg,  #ff364f 0%, #f8c836 20%, #66c486 40%, #4687fb 60%, #a47158 80%, #a58a79 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff364f), color-stop(20%,#f8c836), color-stop(40%,#66c486), color-stop(60%,#4687fb), color-stop(80%,#a47158), color-stop(100%,#a58a79));
background: -webkit-linear-gradient(-45deg,  #ff364f 0%,#f8c836 20%,#66c486 40%,#4687fb 60%,#a47158 80%,#a58a79 100%);
background: -o-linear-gradient(-45deg,  #ff364f 0%,#f8c836 20%,#66c486 40%,#4687fb 60%,#a47158 80%,#a58a79 100%);
background: -ms-linear-gradient(-45deg,  #ff364f 0%,#f8c836 20%,#66c486 40%,#4687fb 60%,#a47158 80%,#a58a79 100%);
background: linear-gradient(135deg,  #ff364f 0%,#f8c836 20%,#66c486 40%,#4687fb 60%,#a47158 80%,#a58a79 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff364f', endColorstr='#a58a79',GradientType=1 );}
header nav ul li.tumblr {background:rgba(45,70,97,.5); border-radius:3px;}
header nav ul li.tumblr:hover {background:rgba(45,70,97,1);}

/*sayfalama*/
.posts > nav {margin:20px 0;}
.posts > nav > ul {width:100%; display:table; table-layout:fixed; border:1px solid #ccc; background:rgba(255,255,255,.7);}
.posts > nav > ul > li {display:table-cell; vertical-align:middle; text-align:center;}
.posts > nav > ul > li.pageInfo {position:relative; font-family:arial; font-size:1em; color:#666; font-weight:bold; letter-spacing:1px; margin-right:-1px; background:#f1f1f1;}
.posts > nav > ul > li.pageInfo > i {position:absolute; right:10px; font-size:20px; color:#666; cursor:pointer;}
.posts > nav > ul > li > a {display:block; line-height:1; padding:10px; text-align:center; box-shadow:0px -10px 20px #eee inset;}
.posts > nav > ul > li.prev a {border-right:5px solid #bdbdbd;}
.posts > nav > ul > li.next a {border-left:5px solid #bdbdbd;}
.posts > nav > ul > li > a > i {font-size:20px; color:#999; text-shadow:0 1px 1px #333;}
.posts > nav > ul > li > a:hover, .posts > nav > ul > li > a:hover > i {color:#E24F4F; border-color:#E24F4F;}
.posts > nav > ul > li > a:hover {box-shadow:0px 10px 20px #eee inset;}

/*nivo lightbox*/
.nivo-lightbox-overlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 100%; overflow: hidden; visibility: hidden; opacity: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: rgba(0, 0, 0, 0.7); }
.nivo-lightbox-loading { background: url(//kerimx.github.io/kerimx.tumblr.com/images/loading.gif) no-repeat 50% 50%; }
.nivo-lightbox-overlay.nivo-lightbox-open { visibility: visible; opacity: 1; }
.nivo-lightbox-wrap { position: absolute; top: 3%; bottom: 3%; left: 3%; right: 3%; }
.nivo-lightbox-content { width: 100%; height: 100%; }
.nivo-lightbox-title-wrap { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 99999; text-align: center; }
.nivo-lightbox-prev { position: absolute; top: 50%; left: -2px; }
.nivo-lightbox-next { position: absolute; top: 50%; right: -2px; }
.nivo-lightbox-close { position: absolute; top: 3%; right: 3%; background: #e24f4f; padding: 5px; border-radius: 5px; }
.nivo-lightbox-nav { display: none; background: #e24f4f; width: 40px; height: 70%; top: 15%; border-radius: 3px; }
.nivo-lightbox-image { text-align: center; }
.nivo-lightbox-image img { max-width: 100%; max-height: 100%; width: auto; height: auto; vertical-align: middle; box-shadow: 0 0 50px #000; }
.nivo-lightbox-content iframe { width: 100%; height: 100%; }
.nivo-lightbox-inline, .nivo-lightbox-ajax { max-height: 100%; overflow: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;/* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}
.nivo-lightbox-error { display: table; text-align: center; width: 100%; height: 100%; color: #fff; text-shadow: 0 1px 1px #000; }
.nivo-lightbox-error p { display: table-cell; vertical-align: middle; text-align: center; font-size: 3em; background: #fff; border: 50px solid #000; }
/* Effects **********************************************/
.nivo-lightbox-notouch .nivo-lightbox-effect-fade, .nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale, .nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft, .nivo-lightbox-notouch .nivo-lightbox-effect-slideRight, .nivo-lightbox-notouch .nivo-lightbox-effect-slideUp, .nivo-lightbox-notouch .nivo-lightbox-effect-slideDown, .nivo-lightbox-notouch .nivo-lightbox-effect-fall { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
/* fadeScale */
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
/* slideLeft / slideRight / slideUp / slideDown */
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap, .nivo-lightbox-effect-slideRight .nivo-lightbox-wrap, .nivo-lightbox-effect-slideUp .nivo-lightbox-wrap, .nivo-lightbox-effect-slideDown .nivo-lightbox-wrap { -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); }
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap { -webkit-transform: translateX(-10%); -moz-transform: translateX(-10%); -ms-transform: translateX(-10%); transform: translateX(-10%); }
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap { -webkit-transform: translateX(10%); -moz-transform: translateX(10%); -ms-transform: translateX(10%); transform: translateX(10%); }
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap, .nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap { -webkit-transform: translateY(-10%); -moz-transform: translateY(-10%); -ms-transform: translateY(-10%); transform: translateY(-10%); }
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap { -webkit-transform: translateY(10%); -moz-transform: translateY(10%); -ms-transform: translateY(10%); transform: translateY(10%); }
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap, .nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
/* fall */
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall { -webkit-perspective: 1000px; -moz-perspective: 1000px; perspective: 1000px; }
.nivo-lightbox-effect-fall .nivo-lightbox-wrap { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; -webkit-transform: translateZ(300px); -moz-transform: translateZ(300px); -ms-transform: translateZ(300px); transform: translateZ(300px); }
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap { -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); }

/*lightbox*/
.nivo-lightbox-open > a.nivo-lightbox-nav > i { font-size: 30px; color: #fff; position: absolute; top: 50%; margin-top: -15px; width: 100%; text-align: center; }
.nivo-lightbox-open > a.nivo-lightbox-nav:hover > i, .nivo-lightbox-open > a.nivo-lightbox-close:hover > i { text-shadow: 0 0 2px #fff; }
.nivo-lightbox-close > i { font-size: 30px; color: #fff; }

@media screen and (min-width: 551px) {/*pc*/
/*header pc*/
header nav ul li.tumblr {position:fixed; right:11px; top:60px; border-right:none; box-shadow:1px 1px 5px -3px #000 inset;}
header nav ul li.tumblr > a {background:url("https://secure.assets.tumblr.com/images/iframe_logo.png") no-repeat scroll 10px center; width:100px; height:34px; padding:0; text-indent:-999em;}
header nav ul li.tumblr > a:after {text-indent:0; content:"\f067"; padding-left:5px; font-family:FontAwesome; color:#fff; text-shadow:0 0 7px #fff; position:absolute; right:10px; top:8px;}
}

@media screen and (max-width: 550px) {
.noPc {display:inline-block !important;}
body {background:#fff !important;}
.container {width:auto;}
.container > * {width:100%; float:none;}
header nav ul.m1 li:first-child {border-left:none;}
header nav ul.social li:last-child {border-right:none;}

.posts {padding:0 10px;}
.box {padding:10px;}

/*menü 550px*/
header nav > i.fa {display:table !important; margin:0 auto; padding:10px; cursor:pointer; font-size:1.5em; color:#fff;}
header nav.open > i.fa:before {content:"\f00d";}
header nav > section {padding:10px 5px; display:none; display:none;}
header nav.open > section {display:block; width:auto;}
header nav ul {float:none !important;}
header nav ul.m1 {margin-bottom:15px;}
header nav ul.social:before {content:""; display:block; width:90%; margin:15px auto; border-top:1px dotted #fff;}
header nav ul li {float:none; border:none !important; margin-top:5px; border:1px solid #fff !important; border-radius:3px;}
header nav ul li:hover {box-shadow:0 3px 5px -4px #000000 inset;}
header nav ul li:first-child {margin-top:0;}
header nav ul li a {text-shadow:0 0 10px #FFF; font-size:16px; line-height:1;}
header nav ul li.facebook a:after {content:".com/kerimx"}
header nav ul li.twitter a:after {content:".com/kerimx"}
header nav ul li.instagram a:after {content:".com/_kerim"}
header nav ul li.tumblr {background:rgba(45,70,97,1);}
}

@media screen and (max-width: 480px) {
/*lightbox 480px*/
.nivo-lightbox-overlay .nivo-lightbox-wrap {top:0; right:1%; bottom:0; left:1%;}
.nivo-lightbox-overlay .nivo-lightbox-nav {width:50%; height:50px; top:auto; bottom:-2px;}
}

@media screen and (max-width: 310px) {
body * {display:none;}
body:before {content:"hesap makinesi detected !!!11"; font-family:arial; font-size:2em;}
.wtf {}
}
